<!DOCTYPE html>
<html ng-app="ngHogiProfile">
  <head lang="ja">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Hogino Profile</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link href="./css/lib.css" media="all" rel="stylesheet" />
    <link href="./css/style.css" media="all" rel="stylesheet" />
    <script src="./js/lib.js"></script>
    <script src="./js/app.js"></script>
    <base href="#/" />
  </head>
  <body>
    <div ng-controller="SampleCtrl">
      <form ng-submit="authToken()">
        <md-content>
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-input-container>
              <label>Token</label>
              <input placeholder="input token" ng-model="token" />
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">
              Auth
            </md-button>
          </section>
        </md-content>
      </form>

      <form ng-submit="addMessage()">
        <md-content>
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-input-container>
              <label>Message</label>
              <input placeholder="input message" ng-model="newMessageText" />
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">
              Send
            </md-button>
          </section>
        </md-content>
      </form>

      <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" ng-repeat="message in messages">
          <md-input-container>
            <label>Message</label>
            <input ng-model="message.text" ng-change="messages.$save(message)" />
          </md-input-container>

          <md-button ng-click="messages.$remove(message)" class="md-raised md-warn">
            Delete Message
          </md-button>
        </section>
      </md-content>
    </div>

    <div ng-include src="views/layouts/header.html"></div>

    <div ui-view=""></div>

  </body>
</html>