<md-content>
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-tabs>
      <md-tab ng-disabled="false"
              label="Home"
              ui-sref="app"></md-tab>
      <md-tab ng-disabled="false"
              label="Message"
              ui-sref="app.message"></md-tab>
      <md-tab ng-disabled="false"
              label="Content"
              ui-sref="app.content"></md-tab>
      <md-tab ng-disabled="false"
              label="ContentCreate"
              ui-sref="app.content.create"></md-tab>
    </md-tabs>
    <!--<md-tab ng-repeat="tab in tabs"-->
    <!--ng-disabled="tab.disabled"-->
    <!--label="{{tab.title}}"-->
    <!--ui-sref="app">-->
  </section>
  <!--<md-toolbar></md-toolbar>-->
</md-content>
